# 11장. 튜플 패킹 언패킹
#### 튜플이란?
- 튜플이란 소괄호 **'()'** 을 사용하여 묶는 자료형으로,  
리스트와 같은 성질(중복허용, 순서존재)을 가졌지만
변경이 불가능한 자료형  
( '()'는 생략가능한 경우 많음 ; return a,b,c,d / a= 1,2,3,4 / a = 1, )

#### 패킹, 언패킹
- 여러개의 인자를 가진 튜플을 다른 변수들에 저장할 경우 ' * ' 를 이용하여 나머지 인자들을 묶을 수 있음  
  ex)  
      a = (1,2,3,4,5)  
      q, w, *other = a    
       -> q=1, w=2, other= [3, 4, 5]  
    
       
- 일부패킹시 others로 묶은 인자들은 "리스트"형으로 저장됨
       
       
- 언패킹은 함수호출하는 경우에만 사용됨  
  ex)  
      p = (1,2,3)  
      somfun(p) -> def somfun(a,b,c): // a=1,b=2,c=3 으로 언패킹되어 인자전달됨

In [22]:
tup= 1,2,3,4,5
a1,a2,*other=tup # 튜플 패킹 other
print(tup)
print(a1,a2,other,end='\n\n')

a1,a2,*other=tup
other=tuple(other) #다시 튜플로
print(tup)
print(a1,a2,other,end='\n\n')

a1,*other,a2,a3=tup # 중간에 넣으면 앞뒤 가져가고 남는거로 리스트 패킹
print(tup)
print(a1,other,a2,end='\n\n')

lst=[1,2,3,4,5]  #리스트도 가능
a1,a2,*other=lst
print(lst)
print(a1,a2,other)

(1, 2, 3, 4, 5)
1 2 [3, 4, 5]

(1, 2, 3, 4, 5)
1 2 (3, 4, 5)

(1, 2, 3, 4, 5)
1 [2, 3] 4

[1, 2, 3, 4, 5]
1 2 [3, 4, 5]

In [10]:
def return_num():
    return 1,2,3,4,5 #튜플의 소괄호가 생략된 형태
a1,a2,*other=return_num()

print(a1,a2,other)

1 2 [3, 4, 5]

In [11]:
def show_num(a1,a2,*other): #매개변수로도 사용 가능
    print(a1,a2,other)
    
show_num(1,2,3,4,5,6)

1 2 (3, 4, 5, 6)

In [12]:
# 활용 sum 함수
def sum_num(*nums): # 전달된 1,2,3,4,5는 튜플로 묶어서 nums에 저장됨 // 즉 nums=(1,2,3,4,5)
    s=0
    for i in nums:
        s+=i
    return s
sum_num(1,2,3,4,5)

15

In [17]:
# 푼다는 의미의 *
def show_man(age,name,height):
    print(name, age, height)

man=('26','shin','178')
show_man(*man)         # man에 담긴 값을 풀어서 show_man 매개변수(age,name,height)로 전달

man=[26,'shin',178]    # 리스트형도 가능 
show_man(*man)

man=[26,'shin',178]    
show_man(man)          #  * 붙이지 않으면 TypeError발생 (매개변수 2개 부족)

shin 26 178
shin 26 178

TypeError: show_man() missing 2 required positional arguments: 'name' and 'height'

In [27]:
# for 문에서의 언패킹 (중첩for문 돌리지 말자!)
ps=[(1,100),(2,200),(3,300)]
for i in ps:  # 이러면 리스트안의 튜플이 i에 저장되어 돌아감
    print(i)
for n,h in ps:# 변수를 2개 둠으로써 튜플의 인자 2개가 n과h에 각각 언패킹 되어 돌아감
    print(n,h)

ps2=[(1,10,100),(2,20,200)] # 인자 여러개도 가능
for a,b,c in ps2:
    print(a,b,c)

for i in ps: # 이렇게하지 말자!
    for j in i:
        print(j,end=' ')
    print()

(1, 100)
(2, 200)
(3, 300)
1 100
2 200
3 300
1 10 100
2 20 200
1 100
2 200
3 300

# 12장 네임드 튜플
##### namedtuple은 튜플에 이름을 붙이는 것
- from collections import namedtuple 선언  
- Tri=namedtuple('Triangle',['bottom','height'])    
      Triangle -> 오류메시지시 출력되는 이름
      ['bottom','height'] -> 튜플인덱스의 이름

In [31]:
from collections import namedtuple

#Tri=namedtuple('Triangle',['bottom','height'])
Tri=namedtuple('Tri',['bottom','height']) #권장하는 방법 (일치시키기)
t=Tri(3,7)

print(t[0],t[1])
print(t.bottom,t.height)

3 7
3 7

In [32]:
t[0]=1

TypeError: 'Tri' object does not support item assignment