## 20장 enumerate & 문자열 비교
##### 문자열 비교
- 대소비교 가능 < , >  
    영어 : 사전순 , 소문자가 더 큰 값.  
    한글 : 사전순  

##### 리스트 -> dict (no enumerate) 
1. 정렬 : lst.sort()
2. 번호 매겨서 : for item in list:
3. 딕셔너리 저장 : dlist[i] = item 

##### enumerate 
- 기능 : 넘버링
- (딕셔너리) 컴프리헨션 사용 가능해짐
- enumerate(리스트, 시작 번호) -> 시작번호 부터 시작하는 iterator 객체 생성 // 시작번호 default 는 0
- 튜플로 반환 (리스트[0], 1), (리스트[1],2), ....

In [1]:
# enumerate 기본
name = ['신민철','유일혁','정윤재','김성유','장남영','임형광','유병수','김나은']

eo = enumerate(name) # iterator 객체 생성
for na in eo:
    print(na, end = ' ')

(0, '신민철') (1, '유일혁') (2, '정윤재') (3, '김성유') (4, '장남영') (5, '임형광') (6, '유병수') (7, '김나은')

In [2]:
# enumerate 시작번호
eo = enumerate(name,1) # iterator 객체 생성
for na in eo:
    print(na, end = ' ')

(1, '신민철') (2, '유일혁') (3, '정윤재') (4, '김성유') (5, '장남영') (6, '임형광') (7, '유병수') (8, '김나은')

In [4]:
# enumerate 로 딕셔너리 컴프리헨션
dname = {num : nam for num,nam in enumerate(name,1)} # {키:값 for k,v in enumerante(리스트, 시작번호)}
print(dname)

{1: '신민철', 2: '유일혁', 3: '정윤재', 4: '김성유', 5: '장남영', 6: '임형광', 7: '유병수', 8: '김나은'}

## 21장 표현식기반 문자열 조합
##### %s , %d, %f
- %s : 문자열을 넣어라
- %d : 정수를 넣어라
- %f : 실수를 넣어라  
    ex) 'my name is %s age is %d and %f cm tall' %('shin', 27, 178)   
실수, 정수 -> 문자열 (형변환자동O)  
문자열 -> 실수, 정수 (형변환자동X)  
실수 -> 정수 ( 가능은 하나 데이터 손실이 발생할 수 있음 3.1 ->3 )  
- 딕셔너리로도 사용가능  
    ex) 'my name is %(name)s age is %(age)d and %(tall)f cm tall' %{'name':'shin', 'age' :27,  'tall' : 178)   
    
##### 옵션지정
%d 에서 %와 d 사이에 타입지시자를 추가
- [flags] : +(부호도 출력),-(왼쪽정렬),0(빈공간을 0으로 채워라)
- [width] : 출력폭(총 몇칸을 확보할지)을 조정 // 우측정렬 
- [.precision] : 소수점 몇째자리까지 출력할지 
  
ex )' %+10.3f' %3.14  
..........+3.140

## 22장 메소드기반 문자열 조합
##### string.format(val1, val2, ...)
- '{0}...{1}...{2}...'.format('one','two', 'three')  
=> one...two...three      
         
- '{}...{}...{}...'.format('one','two', 'three')  
=> one...two...three     
     
- '{2}...{1}...{0}...'.format('one','two', 'three')  
=> three...two...one    
     
- '{num1}...{num2}...{num3}...'.format(num1='one', num2='two', num,3'three')  
=> one...two...three   


##### 옵션지정
- 기본적으로 표현식기반과동일
ex) '{0.4f}'.format(3.14)  // '%.4f' %3.14 와 동일

- <(왼쪽정렬)  , >(오른쪽정렬) , ^(가운데정렬)   
ex) '{0:^10.4f}.format(3.14)  
'..3.1400..'  
- 빈공간채우기 : <>^ 앞에 넣기  
ex) ex) '{0:a^10.4f}.format(3.14)  
'aa3.1400aa'  
- f'{값:옵션}' 으로도 사용가능

In [2]:
'{0:a^10.4f}'.format(3.14)

'aa3.1400aa'

In [7]:
' %10.3f' %3.14

'      3.140'

In [ ]:
      3.140